html,body{
  margin: 0;
  padding: 0;
  
}

#root{
  margin: 0;
  padding: 0;
}
.header-navbar {
    width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  font-family: Acme !important;
  }

